@import "./_colors";
@import "./_fonts";

#page {
  min-height: 100vh;
}

body {
  background: $primaryBg;
}
.app-header {
  border-bottom: 1px solid $primary;
  min-height: 6vh;
  font-size: calc(10px + 2vmin);
  color: $primary;
  height: 100%;
}

.pad-top {
  padding-top: 30px;
}

.image-gallery-thumbnail.active {
  border: 1px solid $black;
}

.options-container {
  // width: 100%;
  height: 100%;
  background-color: $white;
  padding: 15px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.pointer {
  &:hover {
    cursor: pointer;
  }
}

.color-option {
  padding: 8px;
  height: 45px;
  text-transform: capitalize;
}

.size-option {
  height: 30px;
  border: 1px solid transparent;
  border-radius: 30px;
  p {
    margin: 0;
    padding: 0;
  }
}

.out-of-stock {
  color: $accentGray;
}

.circle {
  width: 23px;
  height: 23px;
  border-radius: 23px;
}

.even-spacing {
  display: flex;
  justify-content: space-between;
}

.vertical-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-bag {
  margin-top: 40px;
  p {
    text-decoration: underline;
  }
}

.react-numeric-input {
  height: 40px;
  input {
    margin: 0;
  }
  b {
    height: 37px !important;
    top: 0px !important;
    background: $accentGray !important;
    &:first-of-type {
      right: 0 !important;
    }
    &:last-of-type {
      left: 0px !important;
    }
  }
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 25px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: $black;
  height: 10% !important;
}

.bm-menu {
  background: $white;
      padding: 20px;
    font-size: 20px;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 15px;
}

.bm-item {
  display: inline-block;
  color: $black;
  padding: 10px;
  &:hover {
    color: $primary;
  }
  &:focus {
    color: $black;
    outline: none;
  }
}